/* Task.css */

.task-item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid #ccc;
  margin-bottom: 8px;
  width: 500px; /* Adjust the width as needed */
  margin-left: auto;
  margin-right: auto;
}

.task-item__description {
  font-weight: bold;
  margin-right: 10px;
}

.button {
  transition-duration: 0.4s;
  font-family: cursive;
}

.button:hover {
  background-color: #04aa6d; /* Green */
  color: white;
}
